/* color palette from <https://github.com/vuejs/theme> */
:root {
  --blue-1: #5f9fd5;
  --grayicon-1: #707176;
  --bluegray-1: #e7f1f9;
  --gray-1: #ececed;
  --gray-2: #f6f6f6;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
 
  background-color: white !important;
  color: black !important;
}

@font-face {
  font-family: 'PoppinsData';
  src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsData';
  src: url('@/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsData';
  src: url('@/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsData';
  src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-poppins {
  font-family: 'PoppinsData', sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

/* Estilos con pesos específicos */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

/* Estilos en itálica */
.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.markdown-body {
  background-color: white;
  color: black;
}

.markdown-body a {
  color: #1d4ed8;
  /* Azul oscuro para enlaces */
}

.markdown-body pre {
  background-color: #f3f4f6;
  /* Fondo claro para bloques de código */
  color: black;
}

.markdown-body code {
  background-color: #f3f4f6;
  color: black;
}

.markdown-body blockquote {
  border-left: 4px solid #d1d5db;
  color: #4b5563;
  background-color: #f9fafb;
}