/* color palette from <https://github.com/vuejs/theme> */
:root {
  --blue-1: #769bd2;  
  --gray-1: #ededed;
  --gray-2:#f6f6f6;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  
}

 
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

/* Estilos con pesos específicos */
.poppins-thin { font-family: "Poppins", sans-serif; font-weight: 100; }
.poppins-light { font-family: "Poppins", sans-serif; font-weight: 300; }
.poppins-regular { font-family: "Poppins", sans-serif; font-weight: 400; }
.poppins-medium { font-family: "Poppins", sans-serif; font-weight: 500; }
.poppins-bold { font-family: "Poppins", sans-serif; font-weight: 700; }
.poppins-black { font-family: "Poppins", sans-serif; font-weight: 900; }

/* Estilos en itálica */
.poppins-thin-italic { font-family: "Poppins", sans-serif; font-weight: 100; font-style: italic; }
.poppins-bold-italic { font-family: "Poppins", sans-serif; font-weight: 700; font-style: italic; }
.poppins-black-italic { font-family: "Poppins", sans-serif; font-weight: 900; font-style: italic; }
